{% extends '../base.html' %}

{% block title %}Главная страница{% endblock %}
{% block description %}Описание главной страницы с рецептами{% endblock %}
{% block header_title %}Рецепты{% endblock %}

{% block content %}
<div class="header-header-text">Главная страница</div>
<div class="header-text">Список рецептов</div>
<div class="recipe-list">
    {% for recipe in recipes %}
    <div class="recipe-item">
        <a href="{% url 'recipe_catalog:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'recipe_catalog:recipe_add' %}" class="add-recipe-btn">Добавить новый рецепт</a>
    {% endif %}
</div>
{% endblock %}
